#div1{background-color: goldenrod;
    height: 370px;
    margin: 10px;

}
#div2{
    padding-left: 25%;
    padding-top: 20px;
    margin-top: 0%;
}
#div3{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(33, 179, 98);
    color: black;
    margin: 40px;
    margin-top: 0px;
}