#div1{background-color: goldenrod;
    height: 370px;
    margin: 10px;
 
}
#div2{
    padding-left: 25%; 
    padding-top: 20px;
    margin-top: 0%;
}
#div3{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(33, 179, 98);
    color: black;
    margin: 50px;
    margin-top: 0px;

}
#div4{
    border: solid black;
    margin: 0px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(165, 42, 110, 0.925);
}
#div5{
    border: solid black;
    margin:30px;
    background-color: aqua;
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;

}
#div6{
    border: solid black;
    background-color: aquamarine;
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;

}
#div7{
    border: solid black;
    background-color: rgb(76, 213, 247);
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;

}
#div8{
    border: solid black;
    background-color: rgb(232, 255, 127);
    margin: 0px;
    margin-left: 100px;
    margin-right:100px;

}
#div9{
    border: solid;
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}